.poppy {
  height: 450px;
  width: 380px;
  background: #ffffff;
  overflow: hidden;
  z-index: 999999;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -225px;
  right: -345px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  border: 2px solid #bcbdc0;
  border-right: none;
}
.poppy > .poppy-control {
  height: 100%;
  width: 35px;
  background: #df1766;
  position: relative;
  cursor: pointer;
  cursor: w-resize;
}
.poppy > .poppy-control:after {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: 25%;
  margin-top: -17.5px;
  border-top: 17.5px solid transparent;
  border-bottom: 17.5px solid transparent;
  border-right: 17.5px solid rgba(255, 255, 255, 0.75);
  border-left: none;
}
.poppy > .poppy-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 345px;
  padding: 20px;
}
.poppy > .poppy-content img {
  max-width: 100%;
}
.poppy.poppy-open {
  right: 0;
}
.poppy.poppy-open > .poppy-control {
  cursor: e-resize;
}
.poppy.poppy-open > .poppy-control:after {
  border-left: 17.5px solid rgba(255, 255, 255, 0.75);
  border-right: none;
}

@media (max-width: 750px) {
  .poppy {
    display: none;
  }
}
